version: '3.5'

networks:
  load-testing-network:
    external: true

services:
  k6:
    container_name: k6
    image: loadimpact/k6:latest
    ports:
      - "6565:6565"
    environment:
      - K6_OUT=influxdb=http://influxdb-performance:8086/k6
    volumes:
      - ./js:/k6-scripts
    networks:
      - load-testing-network

